@import "tailwindcss";

@media (hover: hover) and (pointer: fine) {
  html {
    cursor: none;
    /* Hide default cursor only on devices with fine pointers (mouse) */
  }

  a,
  button,
  .cursor-scale {
    cursor: none;
  }
}